---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404" backUrl="/babelog/">
  <div class="flex w-full justify-center items-center my-16">
    <h1 class="text-6xl font-flower mx-10">404</h1>
  </div>
  <div class="flex flex-col justify-center items-center">
    <div class="font-flower text-3xl">
      <p>I must not have thought about this yet, I guess!</p>
    </div>
  </div>
</Layout>
