---
import Layout from "../layouts/Layout.astro";
import Operas from "../data/operasData.ts";
import Preview from "../components/Preview.astro";
---

<Layout title="artpage">
  <div class="flex items-center justify-center m-10 mt-36">
    <div class="grid lg:grid-cols-3 gap-10">
      {
        Operas.map((opera) => (
          <Preview path={opera.src} lazyLoad={true} title={opera.title} />
        ))
      }
    </div>
  </div>
  <div class="flex items-center justify-center w-full"></div>
</Layout>
