---
import Layout from "../layouts/Layout.astro";
import HomeButton from "../components/HomeButton.astro";
import art from "@icons/buttons/art.svg";
import poetry from "@icons/buttons/poetry.svg";
---

<Layout title="homepage">
  <div class="flex items-center justify-center w-full mt-32">
    <div class="grid lg:grid-cols-2 lg:gap-10">
      <HomeButton path={art} url="/art" classes="w-60" />
      <HomeButton path={poetry} url="/poetry" classes="w-60" />
    </div>
  </div>
</Layout>
