---
import Layout from "../layouts/Layout.astro";

import logo from "../../public/logo.svg";
import artButton from "../../public/art-button.svg";
import poetryButton from "../../public/poetry-button.svg";
---

<Layout title="homepage">
  <div class="flex items-center justify-center w-full">
    <div class="grid lg:grid-cols-2 lg:gap-10">
      <a href="/babelog/art">
        <img class="w-60" src={artButton.src} />
      </a>
      <a href="/babelog/poetry">
        <img class="w-60" src={poetryButton.src} />
      </a>
    </div>
  </div>
</Layout>
