---
import Layout from "../layouts/Layout.astro";
import HomeButton from "../components/HomeButton.astro";
---

<Layout title="homepage" backUrl="">
  <div class="flex items-center justify-center w-full mt-20">
    <div class="grid gap-y-3 lg:grid-cols-2 lg:gap-10">
      <HomeButton label="Paintings" url="/babelog/paintings" />
      <HomeButton label="Poems" url="/babelog/poems" />
    </div>
  </div>
</Layout>
