---
import Layout from "../layouts/Layout.astro";

import logo from "../../public/logo.svg";
---

<Layout title="homepage">
  <div class="flex items-center justify-center w-full">
    <div class="grid grid-cols-1 gap-10">
      <a href="/babelog/" class="flex items-center justify-center">
        <h1 class="text-4xl">🔙</h1>
      </a>
    </div>
  </div>
</Layout>
