---
// src/pages/privacy-policy.astro

import Layout from "src/layouts/Layout.astro";
---

<Layout title="privacy-policy" footer={false}>
  <div class="flex flex-col items-center justify-center w-full mt-16">
    <div class="w-1/2 space-y-5">
      <div>
        <h1 class="text-2xl">Privacy Policy</h1>
        <p>
          Welcome to our Privacy Policy page. Here, we explain how we respect
          your privacy when you use our website.
        </p>
      </div>
      <div>
        <h1 class="text-2xl">What Data We Collect</h1>
        <p>
          We do not collect any personal data from our visitors. we use
          <a class="text-blue-400 font-bold" href="https://simpleanalytics.com/"
            >Simple Analytics</a
          > which provides us with anonymous insights about how our website is used
          without tracking individuals or collecting identifiable information.
        </p>
      </div>
      <div>
        <h1 class="text-2xl">Your Rights</h1>
        <p>
          Since we do not collect any personal data, there is no data to access
          or delete. However, if you have any questions or concerns about our
          privacy practices, please feel free to contact us on GitHub at
          <a class="text-blue-400 font-bold" href="https://github.com/BabelDev0"
            >BabelDev0</a
          >.
        </p>
      </div>
    </div>
  </div>
</Layout>
