---
// FullSizeImage.astro
export interface Props {
  path: string;
}

const { path } = Astro.props;
---

<div
  class="fixed inset-0 bg-black bg-opacity-75 flex items-center justify-center"
>
  <img class="max-h-screen max-w-screen" src={path} alt="full size preview" />
</div>

<style>
  .fixed {
    position: fixed;
  }
  .inset-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .bg-black {
    background-color: black;
  }
  .bg-opacity-75 {
    opacity: 0.75;
  }
  .flex {
    display: flex;
  }
  .items-center {
    align-items: center;
  }
  .justify-center {
    justify-content: center;
  }
  .absolute {
    position: absolute;
  }
  .top-4 {
    top: 1rem;
  }
  .right-4 {
    right: 1rem;
  }
  .text-white {
    color: white;
  }
  .cursor-pointer {
    cursor: pointer;
  }
  .max-h-screen {
    max-height: 100vh;
  }
  .max-w-screen {
    max-width: 100vw;
  }
</style>
