---
export interface Props {
  path: string;
  lazyLoad: boolean;
}

const { path, lazyLoad } = Astro.props;
---

<div class="border-4 border-black">
  <a href={path}>
    <img
      class="h-fit w-96"
      src={path}
      loading={lazyLoad ? "lazy" : "eager"}
      alt="preview drawing"
    />
  </a>
</div>
