---
import titleIcon from "@icons/title.svg";

interface Props {
  title: string;
  backUrl?: string;
}

const { title, backUrl = "/babelog" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-XMGE04D2PF"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-XMGE04D2PF", { anonymize_ip: true });
    </script>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/babelog/logo.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Gloria+Hallelujah&family=Indie+Flower&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <main class="flex-grow">
      <a href="/babelog">
        <div class="flex items-center justify-center mt-32 w-full">
          <img class="w-80" src={titleIcon.src} />
        </div>
      </a>
      <slot />
      {
        title != "homepage" && (
          <a href={backUrl} class="flex items-center justify-center mt-16">
            <h1 class="text-4xl">🔙</h1>
          </a>
        )
      }
    </main>
    <!-- Footer section -->
    {
      title != "privacy-policy" && (
        <footer class="text-sm mx-10 mt-20 mb-3">
          <div class="flex justify-center items-center">
            <p class="mr-1">
              We use analytics to gather data about how our website is used.
              <a class="text-blue-400 font-bold" href="/babelog/privacy-policy">
                Privacy Policy
              </a>
              .
            </p>
          </div>
        </footer>
      )
    }
  </body>

  <style is:global></style>
</html>
