---
import titleIcon from "@icons/title.svg";

interface Props {
  title: string;
  backUrl?: string;
}

const { title, backUrl = "/babelog" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-XMGE04D2PF"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-XMGE04D2PF");
    </script>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Gloria+Hallelujah&family=Indie+Flower&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <a href="/babelog">
      <div class="flex items-center justify-center mt-32 w-full">
        <img class="w-80" src={titleIcon.src} />
      </div>
    </a>
    <slot />
    {
      title != "homepage" && (
        <a href={backUrl} class="flex items-center justify-center mt-16">
          <h1 class="text-4xl">🔙</h1>
        </a>
      )
    }
  </body>
</html>
<style is:global></style>
