---
import titleIcon from "@icons/title.svg";

interface Props {
  title: string;
  backUrl?: string;
}

const { title, backUrl = "/babelog" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Google Tag Manager -->
    <script type="application/javascript">
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-K46TLDFN");
    </script>
    <!-- End Google Tag Manager -->

    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/babelog/logo.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Gloria+Hallelujah&family=Indie+Flower&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-K46TLDFN"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <main class="flex-grow">
      <a href="/babelog">
        <div class="flex items-center justify-center mt-32 w-full">
          <img class="w-80" src={titleIcon.src} />
        </div>
      </a>
      <slot />
      {
        title != "homepage" && (
          <a href={backUrl} class="flex items-center justify-center mt-16">
            <h1 class="text-4xl">🔙</h1>
          </a>
        )
      }
    </main>
    <!-- Footer section -->
    {
      title != "privacy-policy" && (
        <footer class="text-sm mx-10 mt-20 mb-3">
          <div class="flex justify-center items-center">
            <p class="mr-1">
              We use analytics to gather data about how our website is used.
              <a class="text-blue-400 font-bold" href="/babelog/privacy-policy">
                Privacy Policy
              </a>
              .
            </p>
          </div>
        </footer>
      )
    }
  </body>

  <style is:global></style>
</html>
