---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout title="poem" backUrl="/babelog/poems">
  <div class="max-w-[65ch] w-full mx-auto px-4">
    <h1 class="text-6xl font-flower text-center my-16">{frontmatter.title}</h1>

    <div class="font-flower text-2xl sm:text-3xl whitespace-pre-line text-left">
      <slot />
    </div>

    <!-- Optional Notes Section -->
    {
      frontmatter.notes && (
        <div class="mt-12 text-xl text-gray-700 prose">{frontmatter.notes}</div>
      )
    }
  </div>
</Layout>
